// .hero-container {
//     display: flex;
//     position: fixed;
//     width: 100%;
//     background: yellow;
// }

// .hero-left {
//     height: 100vh;
//     width: 50%;
//     background: #ddd;
//     // clip-path: polygon(0 0, 200% 0, 25% 100%, 0 100%);
//     transform: skewX(-25deg);
//     h1 {
//         transform: skewX(25deg);
//     }
// }

// .hero-right {
//     height: 100vh;
//     width: 50%;
//     background: pink;
//     transform: skewX(-25deg);
//     overflow: hidden;
//     p {
//         // transform: translateX(20px);
//     }
// }

// .hero-container {
//     position: relative;
//     height: 100vh;
//     width: 100vw;
// }

// .hero-left {
//     height: 100vh;
//     width: 100vw;
//     background: pink;
//     float: left;
// }

// .hero-right {
//     position: absolute;
//     height: 100vh;
//     width: 50vw;
//     background: yellow;
//     left: 50%;
//     // transform: skewX(-25deg);
//     padding: 20px;
//     box-sizing: border-box;
//     z-index: 3;
// }

// .hero-right:before {
//     position: absolute;
//     left: 0;
//     top: 0;
//     padding: 0;
//     content: '';
//     background: yellow;
//     height: 100vh;
//     width: 25vw;
//     display: block;
//     transform: skewX(-20deg) translateX(-50%);
//     z-index: 2;
// }

// h1 {
//     margin: 0;
// }

#wrapper{
    position:relative;
    width:100vw;
    height:100vh;
    box-sizing: border-box;
  }
  
  .layer{
    position:absolute;
    width:100vw;
    min-height:100vh;
    overflow:hidden;
  }
  
  .content-wrap{
    position:absolute;
    width:100vw;
    min-height:100vh;
  }
  
  .content-body{
    width:25%;
    position:absolute;
    top:50%;
    text-align:center;
    transform: translateY(-50%);
  }
  
  .bottom {
    background: green;
    z-index:101;
  }
  
  .bottom .content-body{
    right:10%;
  }
  
  .top{
    background: red;
    color:#222;
    z-index:102;
    width:50vw;
  }
  
  .top .content-body{
    left:10%;
    color:#222;
  }
  
  .skewed .top{
    transform: skew(-20deg);
    margin-left:-1000px;
    width:calc(50vw + 1000px);
  }
  
  .skewed .top .content-wrap {
    transform: skew(20deg);
    margin-left:1000px;
  }