@font-face {
  font-family: 'DDCHardware';
  src: url('../fonts/DDCHardware-Regular.otf');
}

body {
  background: linear-gradient(to left, #d3cce3, #e9e4f0);
}

.hero-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hero-frame-left-0 {
  border: solid transparent;
  border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: calc(50vw - 19px);
  box-sizing: border-box;
}

.hero-frame-left-1 {
  border: solid transparent;
  border-image: linear-gradient(to right, #b861c6 0%,#ffc7c7 100%);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  width: calc(50vw - 59px);
  box-sizing: border-box;
}

.hero-frame-left-2 {
  border: solid transparent;
  border-image: linear-gradient(to left, #2e98bc 0%, #c66262 100%);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 40px;
  bottom: 40px;
  left: 40px;
  width: calc(50vw - 99px);
  box-sizing: border-box;
}

.hero-frame-left-3 {
  border: solid transparent;
  border-image: linear-gradient(to right, #aa076b, #61045f);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 60px;
  bottom: 60px;
  left: 60px;
  width: calc(50vw - 139px);
  box-sizing: border-box;
}

.hero-frame-left-4 {
  border: solid transparent;
  border-image: linear-gradient(to right, #e65c00, #f9d423);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 80px;
  bottom: 80px;
  left: 80px;
  width: calc(50vw - 179px);
  box-sizing: border-box;
}

.hero-frame-left-5 {
  border: solid transparent;
  border-image: linear-gradient(to right, #acb6e5, #86fde8);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 100px;
  width: calc(50vw - 219px);
  box-sizing: border-box;
}

.hero-frame-left-6 {
  border: solid transparent;
  border-image: linear-gradient(to left, #dd3e54, #6be585);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 120px;
  bottom: 120px;
  left: 120px;
  width: calc(50vw - 259px);
  box-sizing: border-box;
}

.hero-frame-left-7 {
  border: solid transparent;
  border-image: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 140px;
  bottom: 140px;
  left: 140px;
  width: calc(50vw - 299px);
  box-sizing: border-box;
}

.hero-frame-left-8 {
  border: solid transparent;
  border-image: linear-gradient(to left, #4568dc, #b06ab3);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 160px;
  bottom: 160px;
  left: 160px;
  width: calc(50vw - 339px);
  box-sizing: border-box;
}

.hero-frame-left-9 {
  border: solid transparent;
  border-image: linear-gradient(to left, #43c6ac, #f8ffae);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 180px;
  bottom: 180px;
  left: 180px;
  width: calc(50vw - 379px);
  box-sizing: border-box;
}

.hero-frame-left-10 {
  border: solid transparent;
  border-image: linear-gradient(to left, #ffafbd, #ffc3a0);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 200px;
  bottom: 200px;
  left: 200px;
  width: calc(50vw - 419px);
  box-sizing: border-box;
}

.hero-frame-left-11 {
  border: solid transparent;
  border-image: linear-gradient(to left, #ee0979, #ff6a00);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 220px;
  bottom: 220px;
  left: 220px;
  width: calc(50vw - 459px);
  box-sizing: border-box;
}

.hero-frame-left-12 {
  border: solid transparent;
  border-image: linear-gradient(to right, #00c3ff, #ffff1c);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 240px;
  bottom: 240px;
  left: 240px;
  width: calc(50vw - 499px);
  box-sizing: border-box;
}

.hero-frame-left-13 {
  border: solid transparent;
  border-image: linear-gradient(to left, #11998e, #38ef7d);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 260px;
  bottom: 260px;
  left: 260px;
  width: calc(50vw - 539px);
  box-sizing: border-box;
}

.hero-frame-left-14 {
  border: solid transparent;
  border-image: linear-gradient(to left, #eb3349, #f45c43);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 280px;
  bottom: 280px;
  left: 280px;
  width: calc(50vw - 579px);
  box-sizing: border-box;
}

.hero-frame-left-15 {
  border: solid transparent;
  border-image: linear-gradient(to left, #1fa2ff, #12d8fa, #a6ffcb);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 300px;
  bottom: 300px;
  left: 300px;
  width: calc(50vw - 619px);
  box-sizing: border-box;
}

.hero-frame-left-16 {
  border: solid transparent;
  border-image: linear-gradient(to left, #da22ff, #9733ee);
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  top: 320px;
  bottom: 320px;
  left: 320px;
  width: calc(50vw - 659px);
  box-sizing: border-box;
}

// .hero-frame-left-17 {
//   border: solid transparent;
//   border-image: linear-gradient(to left, #ff8008, #ffc837);
//   border-image-slice: 1;
//   border-width: 20px;
//   position: fixed;
//   top: 340px;
//   bottom: 340px;
//   left: 340px;
//   width: calc(50vw - 699px);
//   box-sizing: border-box;
// }

.hero-left {
  width: 50vw;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    color: #000;
    font-family: 'DDCHardware', sans-serif;
    font-size: 90px;
    margin: 0;
    width: 80%;
    z-index: 2;
    line-height: 0.8;
  }
  *:hover {
    border-width: 40px;
  }
  *:hover + div {
    opacity: 0;
  }
}

.hero-right {
  background: #fff;
  width: 50vw;
  padding: 20px;
}