body {
  background: violet;
}

.hero-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.hero-left {
  background-size: 200% 200%;
  background-image: repeating-linear-gradient(
    -45deg,
    #333 2px,
    violet 2px,
    violet 41px,
    #333 2px,
    #333 48px,
    #333 80px
  );
  width: 50vw;
  box-sizing: border-box;
  border: 10px solid #333;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    color: #ddd;
    background: rgba($color: #000, $alpha: 0.5);
    padding: 10px;
    width: 80%;
    border-radius: 10px;
  }
  &:hover {
    animation: animate 20s linear infinite;
  }
}

.hero-right {
  background: #fff;
  width: 50vw;
  padding: 20px;
}

@keyframes animate {
  // 0% { background-position: 0% 0%;}
  //   50% {background-position: 50% 50%;}
    100% {background-position: 100% 100%;}
}