@font-face {
  font-family: 'DDCHardware';
  src: url("../fonts/DDCHardware-Regular.otf");
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#ece9e6), to(#ffffff));
  background: linear-gradient(to right, #ece9e6, #ffffff);
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hero-frame {
  border: solid transparent;
  border-image-slice: 1;
  border-width: 20px;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.frame-0 {
  -o-border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
     border-image: -webkit-gradient(linear, right top, left top, from(#61c69d), to(#2d72bc));
     border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
  top: 0;
  bottom: 0;
  left: 0;
  width: calc(50vw - 19px);
}

.frame-1 {
  -o-border-image: linear-gradient(to right, #b861c6 0%, #ffc7c7 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#b861c6), to(#ffc7c7));
     border-image: linear-gradient(to right, #b861c6 0%, #ffc7c7 100%);
  top: 20px;
  bottom: 20px;
  left: 20px;
  width: calc(50vw - 59px);
}

.frame-2 {
  -o-border-image: linear-gradient(to left, #2e98bc 0%, #c66262 100%);
     border-image: -webkit-gradient(linear, right top, left top, from(#2e98bc), to(#c66262));
     border-image: linear-gradient(to left, #2e98bc 0%, #c66262 100%);
  top: 40px;
  bottom: 40px;
  left: 40px;
  width: calc(50vw - 99px);
}

.frame-3 {
  -o-border-image: linear-gradient(to right, #aa076b, #61045f);
     border-image: -webkit-gradient(linear, left top, right top, from(#aa076b), to(#61045f));
     border-image: linear-gradient(to right, #aa076b, #61045f);
  top: 60px;
  bottom: 60px;
  left: 60px;
  width: calc(50vw - 139px);
}

.frame-4 {
  -o-border-image: linear-gradient(to right, #e65c00, #f9d423);
     border-image: -webkit-gradient(linear, left top, right top, from(#e65c00), to(#f9d423));
     border-image: linear-gradient(to right, #e65c00, #f9d423);
  top: 80px;
  bottom: 80px;
  left: 80px;
  width: calc(50vw - 179px);
}

.frame-5 {
  -o-border-image: linear-gradient(to right, #acb6e5, #86fde8);
     border-image: -webkit-gradient(linear, left top, right top, from(#acb6e5), to(#86fde8));
     border-image: linear-gradient(to right, #acb6e5, #86fde8);
  top: 100px;
  bottom: 100px;
  left: 100px;
  width: calc(50vw - 219px);
}

.frame-6 {
  -o-border-image: linear-gradient(to left, #dd3e54, #6be585);
     border-image: -webkit-gradient(linear, right top, left top, from(#dd3e54), to(#6be585));
     border-image: linear-gradient(to left, #dd3e54, #6be585);
  top: 120px;
  bottom: 120px;
  left: 120px;
  width: calc(50vw - 259px);
}

.frame-7 {
  -o-border-image: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
     border-image: -webkit-gradient(linear, right top, left top, from(#c6ffdd), color-stop(#fbd786), to(#f7797d));
     border-image: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
  top: 140px;
  bottom: 140px;
  left: 140px;
  width: calc(50vw - 299px);
}

.frame-8 {
  -o-border-image: linear-gradient(to left, #4568dc, #b06ab3);
     border-image: -webkit-gradient(linear, right top, left top, from(#4568dc), to(#b06ab3));
     border-image: linear-gradient(to left, #4568dc, #b06ab3);
  top: 160px;
  bottom: 160px;
  left: 160px;
  width: calc(50vw - 339px);
}

.frame-9 {
  -o-border-image: linear-gradient(to left, #43c6ac, #f8ffae);
     border-image: -webkit-gradient(linear, right top, left top, from(#43c6ac), to(#f8ffae));
     border-image: linear-gradient(to left, #43c6ac, #f8ffae);
  top: 180px;
  bottom: 180px;
  left: 180px;
  width: calc(50vw - 379px);
}

.frame-10 {
  -o-border-image: linear-gradient(to left, #ffafbd, #ffc3a0);
     border-image: -webkit-gradient(linear, right top, left top, from(#ffafbd), to(#ffc3a0));
     border-image: linear-gradient(to left, #ffafbd, #ffc3a0);
  top: 200px;
  bottom: 200px;
  left: 200px;
  width: calc(50vw - 419px);
}

.frame-11 {
  -o-border-image: linear-gradient(to left, #ee0979, #ff6a00);
     border-image: -webkit-gradient(linear, right top, left top, from(#ee0979), to(#ff6a00));
     border-image: linear-gradient(to left, #ee0979, #ff6a00);
  top: 220px;
  bottom: 220px;
  left: 220px;
  width: calc(50vw - 459px);
}

.frame-12 {
  -o-border-image: linear-gradient(to right, #00c3ff, #ffff1c);
     border-image: -webkit-gradient(linear, left top, right top, from(#00c3ff), to(#ffff1c));
     border-image: linear-gradient(to right, #00c3ff, #ffff1c);
  top: 240px;
  bottom: 240px;
  left: 240px;
  width: calc(50vw - 499px);
}

.frame-13 {
  -o-border-image: linear-gradient(to left, #11998e, #38ef7d);
     border-image: -webkit-gradient(linear, right top, left top, from(#11998e), to(#38ef7d));
     border-image: linear-gradient(to left, #11998e, #38ef7d);
  top: 260px;
  bottom: 260px;
  left: 260px;
  width: calc(50vw - 539px);
}

.frame-14 {
  -o-border-image: linear-gradient(to left, #eb3349, #f45c43);
     border-image: -webkit-gradient(linear, right top, left top, from(#eb3349), to(#f45c43));
     border-image: linear-gradient(to left, #eb3349, #f45c43);
  top: 280px;
  bottom: 280px;
  left: 280px;
  width: calc(50vw - 579px);
}

.frame-15 {
  -o-border-image: linear-gradient(to left, #1fa2ff, #12d8fa, #a6ffcb);
     border-image: -webkit-gradient(linear, right top, left top, from(#1fa2ff), color-stop(#12d8fa), to(#a6ffcb));
     border-image: linear-gradient(to left, #1fa2ff, #12d8fa, #a6ffcb);
  top: 300px;
  bottom: 300px;
  left: 300px;
  width: calc(50vw - 619px);
}

.hero-frame-left-16 {
  -o-border-image: linear-gradient(to left, #da22ff, #9733ee);
     border-image: -webkit-gradient(linear, right top, left top, from(#da22ff), to(#9733ee));
     border-image: linear-gradient(to left, #da22ff, #9733ee);
  top: 320px;
  bottom: 320px;
  left: 320px;
  width: calc(50vw - 659px);
}

.hero-left {
  width: 50vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero-left h1 {
  color: #000;
  font-family: 'DDCHardware', sans-serif;
  font-size: 90px;
  margin: 0;
  width: 80%;
  z-index: 2;
  line-height: 0.8;
  -webkit-animation: nameGrow 3s;
          animation: nameGrow 3s;
}

.hero-left h1 span {
  display: inline-block;
  letter-spacing: -22px;
  -webkit-transition: 0s 15s;
  transition: 0s 15s;
}

.hero-left *:hover {
  border-width: 40px;
}

.hero-left *:hover + div {
  opacity: 0;
}

.hero-right {
  width: 50vw;
  padding: 20px;
}

@-webkit-keyframes nameGrow {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.85;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes nameGrow {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.85;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes nameLetterAnimation {
  25% {
    -webkit-transform: translateY(-20px) rotate(0);
            transform: translateY(-20px) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(30deg);
            transform: translateY(-20px) rotate(30deg);
  }
  60% {
    -webkit-transform: translateY(-20px) rotate(-30deg);
            transform: translateY(-20px) rotate(-30deg);
  }
  70% {
    -webkit-transform: translateY(-10px) rotate(30deg);
            transform: translateY(-10px) rotate(30deg);
  }
  80% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes nameLetterAnimation {
  25% {
    -webkit-transform: translateY(-20px) rotate(0);
            transform: translateY(-20px) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(30deg);
            transform: translateY(-20px) rotate(30deg);
  }
  60% {
    -webkit-transform: translateY(-20px) rotate(-30deg);
            transform: translateY(-20px) rotate(-30deg);
  }
  70% {
    -webkit-transform: translateY(-10px) rotate(30deg);
            transform: translateY(-10px) rotate(30deg);
  }
  80% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.animatedLetter {
  -webkit-animation: nameLetterAnimation 3s;
          animation: nameLetterAnimation 3s;
}
/*# sourceMappingURL=main.css.map */